<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CleverHire</title>
    <link rel="stylesheet" href="/STD TEST DETAILS/Logical Reasoning/Logical Reasoning.css">
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    <script src="https://kit.fontawesome.com/48f7b1ac70.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    <div class="cleverhire">
        <p><a href="/index.html">CleverHire</a></p>
    </div>

<!-- NAVIGATION -->
    <nav>
        <div class="list">
            <a href="">Student: <%= student.name %></a>
            <!-- <a href="">Home</a> -->
            <!-- <a href="">About US</a> -->
            <!-- <a href="">Listed Jobs</a> -->
            <!-- <a href="">Contact</a> -->
        </div>
        <div class="soc-icon">
            <a href="/index.html"><i class="fa-brands fa-linkedin"></i></a>
            <a href=""><i class="fa-brands fa-facebook"></i></a>
            <a href=""><i class="fa-brands fa-x-twitter"></i></a>
            <a href=""><i class="fa-brands fa-instagram"></i></a>
        </div>
    </nav>
    <div class="main-body">
        <!-- LEFT SECTION OF PAGE  -->
        <section class="lmenu">
            <div class="dp">
                <!-- <i class="fa-solid fa-user-graduate"></i> -->
                <img src="<%= locals.profile %>" alt="dp">
            </div>
            <div class="lmenu-items-con">
                <!-- <div class="lmenu-items-icon">
                    <i class="fa-solid fa-chart-line"></i>
                     <i class="fa-solid fa-chart-line"></i>
                    <i class="fa-solid fa-book-open-reader"></i>
                    <i class="fa-solid fa-people-group"></i>

                </div> -->
                <div class="lmenu-items">
                    <li><a class="d" href="/student/dashboard">Dashboard</a></li>
                    <li><a class="ei" href="/student/editinfo">Edit Info</a></li>
                    <li><a class="aj" href="/student/applyJob">Apply Jobs</a></li>
                    <li><a class="mt" href="/student/mocktest">Mock Test</a></li>
                    <li><a class="mi" href="/student/mockinterview">Mock Interview</a></li>
                    <li><a class="cv" href="/student/resume">Create Resume</a></li>
                    <li><a class="l" href="/LOGOUT">Logout</a></li>
                </div>
            </div>
        </section>
        <!-- CENTRE SECTION OF PAGE -->
        <div class="right-box">
            <div class="title-box">
                <div class="title-des">
                    <div class="title">
                        <h2>Logical Reasoning Test</h2>
                    </div>
                    <div class="description">
                        <h4>Description</h4>
                        <p>The logical reasoning test assesses an individual's ability to think logically, solve problems, and draw valid conclusions based on given information.
                        </p>
                    </div>
                </div>
                <div class="instructions">
                    <h4>Instructions</h4>
                    <ul>
                        <li>No external resources (textbooks, notes, internet) are allowed.</li>
                        <li>Ensure a stable internet connection.</li>
                        <li>Avoid switching between browser tabs or applications.</li>
                        <li>When you're ready to begin, click the "Start Test" button.</li>
                        <li>Once you've completed the test, click the "End Exam" button.</li>
                        <li>Test will automatically end once stipulated time exceeds.</li>
                        <li>Note: Skipping questions affect your overall score.</li>
                    </ul>
                </div>
            </div>

            <div class="syllabus-box">
                <div class="syllabus">
                    <h4>Syllabus</h4>
                </div>
                <div class="syllabus-items">
                    <ul>
                        <li>Deductive Reasoning (Drawing logical conclusions from given information)</li>
                        <li>Pattern Recognition (Identifying and understanding patterns in sequences, shapes, and numbers)</li>
                        <li>Completion of Series (Recognizing and completing logical sequences)</li>
                        <li>Logical Puzzles (Solving puzzles involving logical reasoning)</li>
                        <li>Analogies (Identifying relationships between pairs of words or concepts)</li>
                        <li>Syllogisms (Understanding and evaluating syllogistic reasoning)</li>
                        <li>Critical Thinking (Analyzing arguments and evaluating their validity)</li>
                      </ul>                                            
                </div>
            </div>
            <div class="test-info">
                <!-- <h4>Syllabus</h4> -->
                <button onclick="window.location.href='/test/Logical%20Reasoning'">Start Test</button>
                <div class="petal1">
                    <h1 class="petal-h1">10</h1>
                    <h4 class="petal-h4">Minutes</h4>
                </div>
                <div class="petal2">
                    <h1 class="petal-h1">10</h1>
                    <h4 class="petal-h4">Questions</h4>
                </div>
            </div>

        </div>

    </div>
</body>
</html>