<!DOCTYPE html>
<html lang="en">
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>CleverHiret</title>
            <!-- <link rel="stylesheet" href="/std-dashboard/std-dashboard.css" type="text/css"> -->
            <link rel="stylesheet" href="/PO/po-studentList/po-studentList.css">
            <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet' type="text/css">
            <script src="https://kit.fontawesome.com/48f7b1ac70.js" crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        </head>
        <body>
            <div class="topMenu">
                <div class="cleverhire">
                    <p><a href="/index.html">CleverHire</a></p>
                </div>
            
            <!-- NAVIGATION -->
                <nav>
                  <div class="list">
                    <a href="">Placement Officer: <%= userName %></a>
                    <!-- <a href="">Home</a> -->
                    <!-- <a href="">About US</a> -->
                    <!-- <a href="">Listed Jobs</a> -->
                    <!-- <a href="">Contact</a> -->
                </div>
                    <div class="soc-icon">
                        <a href="/index.html"><i class="fa-brands fa-linkedin"></i></a>
                        <a href=""><i class="fa-brands fa-facebook"></i></a>
                        <a href=""><i class="fa-brands fa-x-twitter"></i></a>
                        <a href=""><i class="fa-brands fa-instagram"></i></a>
                    </div>
                </nav>
        
            </div>
            <div class="main-body">
                <!-- LEFT SECTION OF PAGE  -->
                <section class="lmenu">
                    <div class="dp">
                        <i class="fa-solid fa-user-graduate"></i>
                    </div>
                    <div class="lmenu-items-con">
                        <!-- <div class="lmenu-items-icon">
                            <i class="fa-solid fa-chart-line"></i>
                             <i class="fa-solid fa-chart-line"></i>
                            <i class="fa-solid fa-book-open-reader"></i>
                            <i class="fa-solid fa-people-group"></i>
        
                        </div> -->
                        <div class="lmenu-items">
                          <li><a class="d" href="/po/dashboard">Dashboard</a></li>
                          <li><a class="pnj" href="/po/postjobs">Post New Job</a></li>
                          <li><a class="aj" href="/po/approveJobs">Approve Jobs</a></li>
                          <li><a class="lj" href="/po/listedjobs">Listed Jobs</a></li>
                          <li><a class="sl" href="/po/studentlist">Student List</a></li>
                          <li><a class="l" href="/LOGOUT">Logout</a></li>
                      </div>
                    </div>
                </section>
                <!-- CENTRE SECTION OF PAGE -->
                <div class="cmenu">
                    <section class="content">
                        <div class="tableContainer">

                            <table>
                                <thead>
                                  <tr>
                                    <th>Sl.No</th>
                                    <th>Name of Student</th>
                                    <th>Year of Study</th>
                                    <th>Branch</th>
                                    <th>Current CGPA</th>
                                    <th>Applied Jobs</th>
                                    <th>Application</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr>
                                    <td>Row 1, Cell 1</td>
                                    <td>Row 1, Cell 2</td>
                                    <td>Row 1, Cell 3</td>
                                    <td>Row 1, Cell 4</td>
                                    <td>Row 1, Cell 5</td>
                                    <td>Row 1, Cell 6</td>
                                    <td class="buttonContainer"><a href=""><button class="edit-button">View</button></a></td>
                                  </tr>
                                  <tr>
                                    <td>Row 1, Cell 1</td>
                                    <td>Row 1, Cell 2</td>
                                    <td>Row 1, Cell 3</td>
                                    <td>Row 1, Cell 4</td>
                                    <td>Row 1, Cell 5</td>
                                    <td>Row 1, Cell 6</td>
                                    <td class="buttonContainer"><a href=""><button class="edit-button">View</button></a></td>
                                  </tr>
                                  <tr>
                                    <td>Row 1, Cell 1</td>
                                    <td>Row 1, Cell 2</td>
                                    <td>Row 1, Cell 3</td>
                                    <td>Row 1, Cell 4</td>
                                    <td>Row 1, Cell 5</td>
                                    <td>Row 1, Cell 6</td>
                                    <td class="buttonContainer"><a href=""><button class="edit-button">View</button></a></td>
                                  </tr>
                                  <tr>
                                    <td>Row 1, Cell 1</td>
                                    <td>Row 1, Cell 2</td>
                                    <td>Row 1, Cell 3</td>
                                    <td>Row 1, Cell 4</td>
                                    <td>Row 1, Cell 5</td>
                                    <td>Row 1, Cell 6</td>
                                    <td class="buttonContainer"><a href=""><button class="edit-button">View</button></a></td>
                                  </tr>
                                  <tr>
                                    <td>Row 1, Cell 1</td>
                                    <td>Row 1, Cell 2</td>
                                    <td>Row 1, Cell 3</td>
                                    <td>Row 1, Cell 4</td>
                                    <td>Row 1, Cell 5</td>
                                    <td>Row 1, Cell 6</td>
                                    <td class="buttonContainer"><a href=""><button class="edit-button">View</button></a></td>
                                  </tr>
                                </tbody>
                              </table>
                        </div>
                    </section>
                
                </div>
                
            </div>
        </body>
</html>