<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CleverHire</title>
    <link rel="stylesheet" href="/MOCK INTERVIEW/interview.css">
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    <script src="https://kit.fontawesome.com/48f7b1ac70.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    <div class="cleverhire">
        <p><a href="/index.html">CleverHire</a></p>
    </div>

<!-- NAVIGATION -->
    <nav>
        <div class="list">
            <a href="">Home</a>
            <a href="">About US</a>
            <a href="">Listed Jobs</a>
            <a href="">Contact</a>
        </div>
        <div class="soc-icon">
            <a href="/index.html"><i class="fa-brands fa-linkedin"></i></a>
            <a href=""><i class="fa-brands fa-facebook"></i></a>
            <a href=""><i class="fa-brands fa-x-twitter"></i></a>
            <a href=""><i class="fa-brands fa-instagram"></i></a>
        </div>
    </nav>
    <div class="main-body">
        <!-- LEFT SECTION OF PAGE  -->
        <section class="lmenu">
            <div class="dp">
                <img src="<%= locals.profile %>" alt="dp">
            </div>
            <div class="lmenu-items-con">
                <!-- <div class="lmenu-items-icon">
                    <i class="fa-solid fa-chart-line"></i>
                     <i class="fa-solid fa-chart-line"></i>
                    <i class="fa-solid fa-book-open-reader"></i>
                    <i class="fa-solid fa-people-group"></i>

                </div> -->
                <div class="lmenu-items">
                    <li><a class="d" href="/student/dashboard">Dashboard</a></li>
                    <li><a class="mt" href="/student/mocktest">Mock Test</a></li>
                    <li><a class="mi" href="/student/mockinterview">Mock Interview</a></li>
                    <li><a class="cv" href="/student/cv">CV Generation</a></li>
                    <li><a class="l" href="/LOGOUT">Logout</a></li>
                </div>
            </div>
        </section>
        <!-- CENTRE SECTION OF PAGE -->
        <div class="right-box">
            <div class="test-box1">

    <div class="container">
        <h1>Welcome to the Mock Interview</h1>
        <p>Before beginning the mock interview, let's go through some important details:</p>
        <div class="instructions">
            <h2>instructions</h2>
            <ol>
                <li><strong>Total interview time:</strong> 1 minute</li>
                <li><strong>Types of questions:</strong> Personal, Technical, HR.</li>
                <li><strong>Time allocated for  the individual round:</strong> 20s</li>
                <li>If the answering exceeds 20s, next question will displayed.So try to answer within that time.</li>
                <li>When you're ready, click the "Start Interview" button below to begin.</li>
            </ol>
            <h5>ALL THE BEST:)</h5>
        </div>
        <button onclick="startInterview()" >Start Interview</button>
    </div>

    <script>
        function startInterview() {
            window.location.href = "fluency.html";
        }
    </script>
</body>
</html>
