/* CSS IS COMMENTED WELL, SO YOU CAN EASILY FIND ELEMENTS AND PROPERTIES */
*{
    margin: 0;
    padding: 0;
    font-family: 'poppins',sans-serif;
    box-sizing: border-box;
}
body{
    font-family: poppins;
    background-color: #BFCFE7;
}
:root{
    --sec-color:#ffffff;
    --bg-color:#BFCFE7;
    --icon-color:#ffffff;
    --pri-color:black;
    --top-color:#575fd6;
}
/* -------CleverHire heading------- */
.cleverhire{
    text-align: center;
    background-color:var(--top-color);
    font-weight: 900;
    height: 6vh;
    padding: 20px 0 50px 0;
    font-size: 20px;
    /* animation-name:ani-cleverhire;
    animation-duration: 2s;
    animation-iteration-count: 1; */
    /* animation-delay: 1s; */
}
.cleverhire a{
    text-decoration: none;
    color:#F8EDFF;
    
}
/* @keyframes ani-cleverhire{
    0%{height: 100vh; padding-top: 50vh; font-size: 50px;}
    30%{height: 100vh; padding-top: 50vh; font-size: 50px;}
    50%{height: 100vh; padding-top: 50vh;font-size: 50px;}
    100%{height: 6vh;}
} */
.cleverhire:hover{
    font-size: 20px;
    color: var(--bg-color);
    /* text-transform: uppercase; */
    transition: color 700ms ease-in-out;
    transition: font-weight 700ms ease-in-out;
}
/* -------navigation bar ------- */
nav{
    display: flex;
    padding: 0px 40px 10px;
    background-color:var(--top-color);
    /* font-weight: 800; */
    font-weight: lighter;
}
a{
    text-decoration: none;
}
nav .list{
    /* display: flex; */
    text-decoration: none;
}
nav .list a{
    font-size: 15px;
    padding: 0px 10px;
    color:var(--bg-color);
    text-decoration: none;
    transition: color 500ms;
    /* transition: border 4s; */
}
nav .list a:hover{
    color: var(--sec-color);
    border:var(--bg-color) 1px solid;
    border-radius: 20px;
}
nav .soc-icon{
    position: absolute;
    right: 20px;
    /* left: 90%; */
}
nav i{
    color:var(--bg-color);
    padding-right: 20px;
    
}
nav i:hover{
    color: var(--sec-color);
}

/* ------- main body------- */
main-body{
    display: flex;
}

/* ------- left menu of pages------- */
.lmenu .mi{
    background-color: #bfcfe73b;
    border:2px #3D3B40 ;
    border-radius: 15px;
    color:var(--bg-color);
    padding: 5px 20px 5px 20px;
    /* margin: 5% 5%; */
    left: 50px;
}
/* .lmenu-items-con .fa-solid{
    background-color: ;
} */
.lmenu{
    background-color:  var(--pri-color);
    /* MOD  */
    width: 210px;
    height:100vh;
    padding: 10px 20px;
    float: left;
}
.dp{
    margin: 30px;
    width: 100px; /* Adjust width and height to set the size of the circle */
    height: 100px;
    border-radius: 50%; /* Make it circular */
    overflow: hidden; /* Clip the content to the circle */
    border: 2px solid #ccc;
}.dp img{
    width: 100%; /* Make the image fill the container */
    height: 100%;
    object-fit: cover;
}
.lmenu-items-icon i{
    color: var(--bg-color);
    font-size: 15px;
    display: grid; place-items: center;
    margin: 15px 5px;
}
.lmenu-items-con{
    /* background-color: rgb(215, 255, 71); */
    /* margin-top: 30px; */
    display: flex;
}

.lmenu-items li{
    padding: 15px 0px 0 10px;
    text-decoration: none;
    list-style:none

}
.lmenu-items a:hover{
    color:var(--sec-color);
    /* color: var(--sec-color); */
    border:var(--bg-color) 1px solid;
    border-radius: 20px;
}
.lmenu-items a{
    color: var(--bg-color);
    /* background-color: rgb(19, 201, 95); */
    text-decoration: none;
    font-size: 15px;
    transition: color 1s;
    padding: 5px 10px;

}

/* -------centre section of webpage ------- */
.right-box{
    display: grid;
    /* grid-template-columns: 1fr 1fr 1fr; */
    margin-right: 20px;
}
/* body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
} */
.container {
    /* max-width: 500px; */
    padding: 20px;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 20px;
}
h1 {
    color: var(--top-color);
    margin-bottom: 20px;
}
.instructions{
    border-radius: 20px;
    box-shadow: 0 0 10px var(--bg-color);
    padding: 20px;
    margin: 20px 0;

}
/* .instructions h1{
    
} */
.instructions h2{
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 900;
}
.instructions ol{
    margin: 20px;
}
.instructions li{
    /* font-style: italic; */
    color: var(--top-color);
    /* margin: 20px 0; */
}
button {
    background-color:var(--top-color);
    border-radius: 20px;
    border: 1px solid var(--bg-color);
    box-shadow: var(--bg-color) 0px 0px 10px;
    /* display: block; */
    cursor: pointer;
    transition: background-color 0.3s ease;
    color: var(--sec-color);
    font-weight: 500;
    align-items: center;
    padding: 10px 15px;
    margin: 0px 0 30px 0;
    width: 200px;
    justify-content: center;
    place-content: center;
    text-transform: uppercase;
}
button:hover {
    background-color: var(--pri-color);
    color: var(--bg-color);
}