<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CleverHire</title>
    <link rel="stylesheet" href="\TESTS\Quantitative Aptitude\Quantitative Aptitude.css">
    <!-- <link rel="stylesheet" href="Quantitative Aptitude.css"> -->
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    <script src="https://kit.fontawesome.com/48f7b1ac70.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    <div class="cleverhire">
        <p><a href="/index.html">CleverHire</a></p>
    </div>

<!-- NAVIGATION -->
    <nav>
        <div class="list">
            <a href="">Student: <%= student.name %></a>
            <!-- <a href="">Home</a> -->
            <!-- <a href="">About US</a> -->
            <!-- <a href="">Listed Jobs</a> -->
            <!-- <a href="">Contact</a> -->
        </div>
        <div class="soc-icon">
            <a href="/index.html"><i class="fa-brands fa-linkedin"></i></a>
            <a href=""><i class="fa-brands fa-facebook"></i></a>
            <a href=""><i class="fa-brands fa-x-twitter"></i></a>
            <a href=""><i class="fa-brands fa-instagram"></i></a>
        </div>
    </nav>
    <div class="main-body">
        <!-- LEFT SECTION OF PAGE  -->
        <section class="lmenu">
            <div class="dp">
                <!-- <i class="fa-solid fa-user-graduate"></i> -->
                <img src="<%= locals.profile %>" alt="dp">
            </div>
            <div class="lmenu-items-con">
                <!-- <div class="lmenu-items-icon">
                    <i class="fa-solid fa-chart-line"></i>
                     <i class="fa-solid fa-chart-line"></i>
                    <i class="fa-solid fa-book-open-reader"></i>
                    <i class="fa-solid fa-people-group"></i>

                </div> -->
                <div class="lmenu-items">
                    <li><a class="d" href="/student/dashboard">Dashboard</a></li>
                    <li><a class="ei" href="/student/editinfo">Edit Info</a></li>
                    <li><a class="anj" href="/student/applynewjob">Apply New Job</a></li>
                    <li><a class="aj" href="/student/appliedjobs">Applied Jobs</a></li>
                    <li><a class="mt" href="/student/mocktest">Mock Test</a></li>
                    <li><a class="mi" href="/student/mockinterview">Mock Interview</a></li>
                    <li><a class="cv" href="/student/resume">Create Resume</a></li>
                    <li><a class="l" href="/LOGOUT">Logout</a></li>
                </div>
            </div>
        </section>
        <!-- CENTRE SECTION OF PAGE -->
        <div class="blur-overlay"></div>
        <section class="right-box">
                <div class="examLayout">
                    <div class="currentQn">
    
                        <div class="leftLayer">
                            <div class="time-qn">
                                <div class="currentQnNumber" >
                                    <i class="fa-solid fa-question"></i>
                                    <h1 id="currentQuestionNumber">1</h1>
                                </div>
                                <div class="time">
                                    <i class="fa-regular fa-clock"></i>
                                    <div class="timeRemaining" >
                                        <div class="text-countdown" id="countdown">GO</div>
                                    </div>
                                </div>
                            </div>
                                
                           
                        </div>
                        <div class="middleLayer" id="middleLayer">
                            <div class="qnLayer">
                                <h4 id="questionText"></h4>
                            </div>
                            <div class="optionLayer">
                                <button id="option1">Option 1</button>
                                <button id="option2">Option 2</button>
                                <button id="option3">Option 3</button>
                                <button id="option4">Option 4</button>
                            </div>
                        </div>
                    </div>
    
                    <div class="buttonSection">
                        <div class="buttons">
    
                            <div class="prevQn">
                                <button id="prevButton" class="disabled" onclick="prevQuestion()">PREVIOUS</button>
                            </div>
                            <div class="nextQn">
                                <button id="nextButton" >NEXT</button>
                            </div>
                            <div class="endExm">
                                <button id="endButton">END EXAM</button>
                            </div>
                        </div>
                    </div>
                </div>
        </section>
        <div id="infoPopup" style="display: none;">
            <p class="closeButton"><b>X</b></p>
            <h2>TEST ENDED</h2>
            <div class="infoFetchContainer">
                <div class="row">
                    <div class="label">
                        <h6>Your Score</h6>
                    </div>
                    <div class="value">
                        <h6 id="currentScoreBox">5</h6>
                    </div>
                </div>
                <div class="row">
                    <div class="label">
                        <h6>No. questions attended</h6>
                    </div>
                    <div class="value">
                        <h6 id="attendedQuestionsBox"></h6>
                    </div>
                </div>
                <div class="row">
                    <div class="label">
                        <h6>No. of correct answers</h6>
                    </div>
                    <div class="value">
                        <h6 id="correctAnswersBox"></h6>
                    </div>
                </div>
                <div class="row">
                    <div class="label">
                        <h6>No. of wrong answers</h6>
                    </div>
                    <div class="value">
                        <h6 id="wrongAnswersBox"></h6>
                    </div>
                </div>
            </div>
        </div>
        <div id="popupWrapper"></div>
    </div>
    <script>
        // QUESTIONS AS ARRAY OF OBJECTS
        const questions = [
  {
    "question": "If 20% of a number is 60, what is 30% of the same number?",
    "options": ["A) 80", "B) 90", "C) 100", "D) 120"],
    "correctOption": 1
  },
  {
    "question": "A car travels a distance of 480 km at a speed of 80 km/h. How long does it take to cover the distance?",
    "options": ["A) 4 hours", "B) 5 hours", "C) 6 hours", "D) 7 hours"],
    "correctOption": 1
  },
  {
    "question": "If a number is increased by 20% and then decreased by 20%, the resulting number is what percentage of the original number?",
    "options": ["A) 80%", "B) 90%", "C) 96%", "D) 100%"],
    "correctOption": 0
  },
  {
    "question": "What is the average of the first 10 multiples of 3?",
    "options": ["A) 16", "B) 18", "C) 20", "D) 22"],
    "correctOption": 1
  },
  {
    "question": "If 3x - 4 = 5, then what is the value of 5x?",
    "options": ["A) 9", "B) 10", "C) 11", "D) 12"],
    "correctOption": 3
  },
  {
    "question": "If the radius of a circle is doubled, by what factor does its area increase?",
    "options": ["A) Doubled", "B) Tripled", "C) Quadrupled", "D) Halved"],
    "correctOption": 2
  },
  {
    "question": "What is the value of 5^0 + 5^1 + 5^2 + 5^3?",
    "options": ["A) 160", "B) 625", "C) 780", "D) 781"],
    "correctOption": 3
  },
  {
    "question": "If a number is divisible by both 3 and 4, then it must also be divisible by:",
    "options": ["A) 6", "B) 7", "C) 8", "D) 9"],
    "correctOption": 0
  },
  {
    "question": "If 30% of a number is 45, what is 40% of that number?",
    "options": ["A) 54", "B) 60", "C) 64", "D) 72"],
    "correctOption": 2
  },
  {
    "question": "What is the sum of the first 100 positive integers?",
    "options": ["A) 5050", "B) 4950", "C) 5000", "D) 5150"],
    "correctOption": 0
  },
  {
    "question": "If x = 2 and y = 3, what is the value of 2x^2 + 3y?",
    "options": ["A) 17", "B) 18", "C) 19", "D) 20"],
    "correctOption": 1
  },
  {
    "question": "A square has an area of 64 square meters. What is the length of each side?",
    "options": ["A) 4 meters", "B) 8 meters", "C) 16 meters", "D) 32 meters"],
    "correctOption": 1
  },
  {
    "question": "What is the square root of 144?",
    "options": ["A) 12", "B) 13", "C) 14", "D) 15"],
    "correctOption": 0
  },
  {
    "question": "What is the next prime number after 17?",
    "options": ["A) 19", "B) 20", "C) 21", "D) 23"],
    "correctOption": 0
  },
  {
    "question": "If 3x - 2 = 10, what is the value of x?",
    "options": ["A) 4", "B) 5", "C) 6", "D) 7"],
    "correctOption": 1
  },
  {
    "question": "What is the area of a rectangle with length 6 meters and width 8 meters?",
    "options": ["A) 32 square meters", "B) 40 square meters", "C) 42 square meters", "D) 48 square meters"],
    "correctOption": 1
  },
  {
    "question": "If the length of a rectangle is doubled and its width is halved, what happens to its area?",
    "options": ["A) It doubles", "B) It quadruples", "C) It remains the same", "D) It halves"],
    "correctOption": 2
  },
  {
    "question": "What is the value of 0.5 + 0.25 + 0.125?",
    "options": ["A) 0.875", "B) 0.925", "C) 0.975", "D) 1.025"],
    "correctOption": 0
  },
  {
    "question": "If 2x + 3 = 11, what is the value of 5x?",
    "options": ["A) 4", "B) 6", "C) 8", "D) 10"],
    "correctOption": 3
  },
  {
    "question": "If 15% of a number is 30, what is 25% of that number?",
    "options": ["A) 50", "B) 60", "C) 70", "D) 80"],
    "correctOption": 1
  }
];
        // Function to display a question and options
        function displayQuestion(question) {
            document.getElementById("questionText").textContent = question.question;
            for (let i = 0; i < question.options.length; i++) {
                document.getElementById(`option${i + 1}`).textContent = question.options[i];
            }
        }

        // SELECT 10 RANDOM QUESTIONS
        questions.sort(() => Math.random() - 0.5);
        const selectedQuestions = questions.slice(0, 10);

        // Track the current question index
        let currentIndex = 0;
        let currentScore=0;
        let qnAttended=0;
        let rightAnswers=0;
        let wrongAnswers=0;
        function checkAnswer(questionIndex, selectedOptionIndex) {
            if(currentIndex<10){
                if (selectedOptionIndex === questions[questionIndex].correctOption) {
                    // alert("Correct!");
                    currentScore++;
                    rightAnswers++;

                } else {
                    wrongAnswers++;
                    // alert("Incorrect. The correct answer is: " + questions[questionIndex].options[questions[questionIndex].correctOption]);
                }
                    currentIndex++;
                    if(currentIndex<10){
                        document.getElementById("currentQuestionNumber").textContent=currentIndex+1;
                    }
                    qnAttended++;
                    displayQuestion(selectedQuestions[currentIndex]);   
                    updateButtons();
            }
        }

        //CHECKING CLICKED OPTION IS CORRECT OR NOT
        document.getElementById("option1").addEventListener("click", function() {
            checkAnswer(0, 0);
        });
        document.getElementById("option2").addEventListener("click", function() {
            checkAnswer(0, 1);
        });
        document.getElementById("option3").addEventListener("click", function() {
            checkAnswer(0, 2);
        });
        document.getElementById("option4").addEventListener("click", function() {
            checkAnswer(0, 3);
        });
       
        // COUNTDOWN SECTION 
        let timeInSeconds = 10*60;
        // let timeInSeconds = 10;
        function updateCountdown() {
          const minutes = Math.floor(timeInSeconds / 60);
          const seconds = timeInSeconds % 60;
          document.getElementById('countdown').textContent = `${minutes}:${seconds < 10 ? '0' : ''}${seconds}`;
          timeInSeconds--;
      
          if (timeInSeconds < 0) {
            showResult();
            testScore();
          }

        //   TO SHOW RESULTS AFTER FINAL QUESTION 
          if(currentIndex==10){
                showResult();
                testScore();
                console.log(currentIndex);
          }
        }

        // TO END EXAM BY CLICKING END  BUTTON
        document.getElementById("endButton").addEventListener("click", function() {
            showResult();
            testScore();
        });


        function testScore(){
            const testType = "Quantitative Aptitude";
            score = document.getElementById('correctAnswersBox').textContent
            console.log(score)
            const payload = {
                type: testType,
                score: score
            };
            fetch('/submit-score', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(payload)
            })
            .then(response => {
                if (response.ok) {
                    console.log('Score submitted successfully.');
                    // Handle success if needed
                } else {
                    console.error('Failed to submit score.');
                    // Handle error if needed
                }
            })
            .catch(error => {
                console.error('Error submitting score:', error);
                // Handle error if needed
            });
        }

        // TO SHOW END RESULT 
        function showResult(){
            clearInterval(interval);
            document.getElementById('countdown').textContent = '0:00';
            const infoPopupDiv = document.getElementById("infoPopup");
            const currentScoreBox=document.getElementById("currentScoreBox");
            const attendedQuestionsBox=document.getElementById("attendedQuestionsBox");
            const correctAnswersBox=document.getElementById("correctAnswersBox");
            const wrongAnswersBox=document.getElementById("wrongAnswersBox");
            infoPopupDiv.style.display = "block"; // Change display from none to block
            popupWrapper.style.display = "block";
            currentScoreBox.textContent=currentScore+'/'+10;
            attendedQuestionsBox.textContent=qnAttended;
            correctAnswersBox.textContent=rightAnswers;
            wrongAnswersBox.textContent=wrongAnswers;
            // endExam();
        }
        const interval = setInterval(updateCountdown, 1000);

        // TO SHOW DASHBOARD PAGE AFTER ENDING EXAM
        const closeButton = document.querySelector('.closeButton');
        closeButton.addEventListener('click', endExam);

        function endExam() {
            window.location.href = "/student/dashboard";
            // setTimeout(() => {
            //      // Replace with your results page URL
            // }, 5000); // Delay in milliseconds ( 5second here)
        }


        // Function to update button states
        function updateButtons() {
        const prevButton = document.getElementById("prevButton");
        const nextButton = document.getElementById("nextButton");
        prevButton.disabled = currentIndex === 0;
        nextButton.disabled = currentIndex === selectedQuestions.length - 1;
        }

        // Event listeners for next and previous buttons
        const nextButton = document.getElementById("nextButton");
        const prevButton = document.getElementById("prevButton");

        nextButton.addEventListener("click", () => {
        currentIndex++;
        document.getElementById("currentQuestionNumber").textContent=currentIndex+1;
        displayQuestion(selectedQuestions[currentIndex]);
        updateButtons();
    });
    
    prevButton.addEventListener("click", () => {
        currentIndex--;
        document.getElementById("currentQuestionNumber").textContent=currentIndex+1;
        displayQuestion(selectedQuestions[currentIndex]);
        updateButtons();
        });
        // Initially display the first question
        displayQuestion(selectedQuestions[currentIndex]);
        updateButtons();

     </script>
    
</body>
</html>