<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CleverHiret</title>
    <link rel="stylesheet" href="/cv-gen/cv-gen.css">
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    <script src="https://kit.fontawesome.com/48f7b1ac70.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    <div class="cleverhire">
        <p><a href="/index.html">CleverHire</a></p>
    </div>

<!-- NAVIGATION -->
    <nav>
        <div class="list">
            <a href="">Home</a>
            <a href="">About US</a>
            <a href="">Listed Jobs</a>
            <a href="">Contact</a>
        </div>
        <div class="soc-icon">
            <a href="/index.html"><i class="fa-brands fa-linkedin"></i></a>
            <a href=""><i class="fa-brands fa-facebook"></i></a>
            <a href=""><i class="fa-brands fa-x-twitter"></i></a>
            <a href=""><i class="fa-brands fa-instagram"></i></a>
        </div>
    </nav>
    <div class="main-body">
        <!-- LEFT SECTION OF PAGE  -->
        <section class="lmenu">
            <div class="dp">
                <img src="<%= locals.profile %>" alt="dp">
            </div>
            <div class="lmenu-items-con">
                <!-- <div class="lmenu-items-icon">
                    <i class="fa-solid fa-chart-line"></i>
                     <i class="fa-solid fa-chart-line"></i>
                    <i class="fa-solid fa-book-open-reader"></i>
                    <i class="fa-solid fa-people-group"></i>

                </div> -->
                <div class="lmenu-items">
                    <li><a class="d" href="/student/dashboard">Dashboard</a></li>
                    <li><a class="mt" href="/student/mocktest">Mock Test</a></li>
                    <li><a class="mi" href="/student/mockinterview">Mock Interview</a></li>
                    <li><a class="cv" href="/student/cv">CV Generation</a></li>
                    <li><a class="l" href="/LOGOUT">Logout</a></li>
                </div>
            </div>
        </section>
        <!-- CENTRE SECTION OF PAGE -->
       <div class="right-box">
            <div class="right-div">
                <div class="cv-info-box">
                    <h1 class="welcome">Welcome to the future of job hunting</h1>
                    <h2>Why use automatic resume generator?</h2>
                    <p>Our technology will help you create a professional resume that showcases your skills, experience and personality, so you can get hired faster.</p>
                    <div class="div-container">
                        <div class="div1">
                            <p class="head">Instant</p>
                            <p class="desc">No more writer's block, get your resume done in seconds</p>
                        </div>
                    </div>
                    <div class="div-container">
                        <div class="div2">
                            <p class="head">Professional</p>
                            <p class="desc">Get your cv in a professional look</p>
                        </div>
                    </div>
                    
                </div>
                <div class="cv-display-box">
                    <div class="cv-display-box-top">
                        <h1>Your Resume</h1>
                        <button id="printButton" onclick="printIframe()">Print</button>
                    </div>
                    <div class="cv-template">
                        <iframe id="myIframe" src="/cv-template" width="100%" height="100%" frameborder="0"></iframe>
                    </div>
                    
                </div>
                
            </div>
        </div>
        <script>
            function printIframe() {
                var iframe = document.getElementById('myIframe');
                if (iframe) {
                    iframe.contentWindow.print();
                }
            }
        </script>
</body>
</html>