<!DOCTYPE html>
<html lang="en">
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>CleverHiret</title>
            <!-- <link rel="stylesheet" href="/std-dashboard/std-dashboard.css" type="text/css"> -->
            <link rel="stylesheet" href="poInfoEdit.css">
            <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet' type="text/css">
            <script src="https://kit.fontawesome.com/48f7b1ac70.js" crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        </head>
        <body id="body">
            <div class="topMenu">
                <div class="cleverhire">
                    <p><a href="/index.html">CleverHire</a></p>
                </div>
            
            <!-- NAVIGATION -->
                <nav>
                    <div class="list">
                        <a href="">Placement Officer: REJIN </a>
                        <!-- <a href="">Home</a> -->
                        <!-- <a href="">About US</a> -->
                        <!-- <a href="">Listed Jobs</a> -->
                        <!-- <a href="">Contact</a> -->
                    </div>
                    <div class="soc-icon">
                        <a href="/index.html"><i class="fa-brands fa-linkedin"></i></a>
                        <a href=""><i class="fa-brands fa-facebook"></i></a>
                        <a href=""><i class="fa-brands fa-x-twitter"></i></a>
                        <a href=""><i class="fa-brands fa-instagram"></i></a>
                    </div>
                </nav>
        
            </div>
            <div class="main-body">
                <!-- LEFT SECTION OF PAGE  -->
                <section class="lmenu">
                    <div class="dp">
                        <i class="fa-solid fa-user-graduate"></i>
                    </div>
                    <div class="lmenu-items-con">
                        <!-- <div class="lmenu-items-icon">
                            <i class="fa-solid fa-chart-line"></i>
                             <i class="fa-solid fa-chart-line"></i>
                            <i class="fa-solid fa-book-open-reader"></i>
                            <i class="fa-solid fa-people-group"></i>
        
                        </div> -->
                        <div class="lmenu-items">
                            <li><a class="d" href="/student/dashboard">Dashboard</a></li>
                            <li><a class="pnj" href="/student/mocktest">Post New Job</a></li>
                            <li><a class=lj" href="/student/dashboard">Listed Jobs</a></li>
                            <li><a class=sl" href="/student/dashboard">Student List</a></li>
                            <li><a class="l" href="/LOGOUT">Logout</a></li>
                        </div>
                    </div>
                </section>
                <!-- CENTRE SECTION OF PAGE -->
                <div class="cmenu" id="cmenu">
                    <section class="content">
                        <!-- FORM SECTION  -->
                        <form onsubmit="onSubmit()" action="/register/po" method="post">
                            <h2>Edit your informations</h2>
                            <div class="formSection">
                
                                <div class="formSection1">
                                    <label for="name">Full Name:</label>
                                    <input type="text" id="name" name="name" required>
                                    
                                    <label for="email">Email:</label>
                                    <input type="email" id="email" name="email" required>
                                    
                                    <label for="phone">Phone Number:</label>
                                    <input type="tel" id="tel" name="phone">
                
                                    <label for="country">Country</label>
                                        <select name="country" id="country">
                                            <option value="India" selected>India</option>
                                        </select>
                
                                        <label for="state">State</label>
                                        <select id="states" name="state">
                                            <!-- <option value="" disabled selected>Select a state</option> -->
                                            <option value="Kerala" selected>Kerala</option>
                                            <option value="Andaman and Nicobar Islands">Andaman and Nicobar Islands</option>
                                            <option value="Andhra Pradesh">Andhra Pradesh</option>
                                            <option value="Arunachal Pradesh">Arunachal Pradesh</option>
                                            <option value="Assam">Assam</option>
                                            <option value="Bihar">Bihar</option>
                                            <option value="Chandigarh">Chandigarh</option>
                                            <option value="Chhattisgarh">Chhattisgarh</option>
                                            <option value="Dadra and Nagar Haveli">Dadra and Nagar Haveli</option>
                                            <option value="Daman and Diu">Daman and Diu</option>
                                            <option value="Delhi">Delhi</option>
                                            <option value="Goa">Goa</option>
                                            <option value="Gujarat">Gujarat</option>
                                            <option value="Haryana">Haryana</option>
                                            <option value="Himachal Pradesh">Himachal Pradesh</option>
                                            <option value="Jammu and Kashmir">Jammu and Kashmir</option>
                                            <option value="Jharkhand">Jharkhand</option>
                                            <option value="Karnataka">Karnataka</option>
                                            <option value="Ladakh">Ladakh</option>
                                            <option value="Lakshadweep">Lakshadweep</option>
                                            <option value="Madhya Pradesh">Madhya Pradesh</option>
                                            <option value="Maharashtra">Maharashtra</option>
                                            <option value="Manipur">Manipur</option>
                                            <option value="Meghalaya">Meghalaya</option>
                                            <option value="Mizoram">Mizoram</option>
                                            <option value="Nagaland">Nagaland</option>
                                            <option value="Odisha">Odisha</option>
                                            <option value="Puducherry">Puducherry</option>
                                            <option value="Punjab">Punjab</option>
                                            <option value="Rajasthan">Rajasthan</option>
                                            <option value="Sikkim">Sikkim</option>
                                            <option value="Tamil Nadu">Tamil Nadu</option>
                                            <option value="Telangana">Telangana</option>
                                            <option value="Tripura">Tripura</option>
                                            <option value="Uttar Pradesh">Uttar Pradesh</option>
                                            <option value="Uttarakhand">Uttarakhand</option>
                                            <option value="West Bengal">West Bengal</option>
                                        </select>
                
                                        <label for="district">District</label>
                                        <select id="districts" name="district">
                                            <option value="" disabled selected>Select a district</option>
                                            <option value="Alappuzha">Alappuzha</option>
                                            <option value="Ernakulam">Ernakulam</option>
                                            <option value="Idukki">Idukki</option>
                                            <option value="Kannur">Kannur</option>
                                            <option value="Kasaragod">Kasaragod</option>
                                            <option value="Kollam">Kollam</option>
                                            <option value="Kottayam">Kottayam</option>
                                            <option value="Kozhikode">Kozhikode</option>
                                            <option value="Malappuram">Malappuram</option>
                                            <option value="Palakkad">Palakkad</option>
                                            <option value="Pathanamthitta">Pathanamthitta</option>
                                            <option value="Thiruvananthapuram">Thiruvananthapuram</option>
                                            <option value="Thrissur">Thrissur</option>
                                            <option value="Wayanad">Wayanad</option>
                                        </select>
                                    <!-- <label for="photo">Upload Photo:</label>
                                        <input type="file" class="abc" id="photoUpload" name="photo" accept="image/*" required> -->
                                    </div>
                                    <div class="formSection2">
                                        <label for="institute">Institute Name:</label>
                                    <input type="text" id="institute" name="institute" required>
                                    <label for="password">Password:</label>
                                    <div class="passwordGroup">
                                        <input type="password" id="passwordInput" placeholder="Enter Password">
                                        <span class="eye-icon">
                                        <i class="fas fa-eye"></i>
                                        </span>
                                    </div>
                
                                    <label for="confirmPassword">Confirm Password:</label>
                                    <div class="passwordGroup">
                                        <input name ="password" type="password" id="confirmPasswordInput" placeholder="Confirm Password">
                                        <span class="eye-icon">
                                        <i class="fas fa-eye"></i>
                                        </span>
                                    </div>
                
                                        
                                        
                                </div>
                            </div>
                            <div class="form-bottom">
                                <h6 style="color: red;"><%= locals.error %></h6>
                                <div class="submit">
                                    <button type="submit">Submit</button>
                                </div>
                            </div>
                        </form>
                    </section>
                </div>
                
            </div>

            <script>
       
                // Capitalise input fields
                function capitalizeInput() {
                    var nameInput = document.getElementById('name');
                    var instituteInput = document.getElementById('institute');
        
                    nameInput.value = capitalizeFirstLetterEachWord(nameInput.value);
                    instituteInput.value = capitalizeFirstLetterEachWord(instituteInput.value);
                }
        
                function capitalizeFirstLetterEachWord(str) {
                    return str.replace(/\b\w+\b/g, function(word) {
                        return word.charAt(0).toUpperCase() + word.slice(1).toLowerCase();
                    });
                }
                function onSubmit(){
                    capitalizeInput();
                }
                // PASSWORD TOGGLE EYE ICON
                const eyeIcons = document.querySelectorAll('.eye-icon');
                const passwordInputs = document.querySelectorAll('input[type="password"]');
        
                eyeIcons.forEach(icon => {
                    icon.addEventListener('click', function() {
                        const passwordInput = this.previousElementSibling;
                        const type = passwordInput.getAttribute('type') === 'password' ? 'text' : 'password';
                        passwordInput.setAttribute('type', type);
                        // Toggle icon based on password visibility
                        this.querySelector('i').classList.toggle('fa-eye');
                        this.querySelector('i').classList.toggle('fa-eye-slash');
                    });
                });
                //
            </script>
        </body>
</html>