*{
    /* PRO_TRICK indicates highlights in css learning*/
    margin: 0;
    padding: 0;
    font-family: 'poppins',sans-serif;
    box-sizing: border-box;
}
:root{
    --sec-color:#ffffff;
    --bg-color:#9aa5e7;
    --icon-color:#ffffff;
    --pri-color:black;
    
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image:url(hero-bg.jpg);
}

form {
    /* background-color: transparent; */
    /* padding: 20px; */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    /* align-items: center; */
    place-content: center;
    width:760px;
    flex-wrap: wrap;
    /* margin: 10px 0px; */
    border-radius: 20px;
    background-color:  rgba(154, 165, 231,0.5);
    background-color:  var(--sec-color);
    font-weight: 600;
    margin: 180px 0 30px 0;
    /* padding-top: 100px; */
    
}
.top{
    border: solid 2px var(--bg-color);
    text-transform: uppercase;
    display: flex;
    position: absolute;
    top: 30px;
    background-color:  rgba(154, 165, 231,0.5);
    /* width: 100%; */
    padding: 30px 0 30px 20px;
    border-radius: 20px;
    /* border: dotted var(--bg-color) 2px; */
}
.top2 h1{
    color:#9aa5e7;
    -webkit-text-stroke: 1px black ;
    text-align: left;
    font-size: 40px;
    background-color: black;
    padding: 10px 20px;
    /* PRO_TRICK */
    margin-left: 170px;
    border-radius: 50px 0px 0px 50px;
    transition: all 0.5s;
}
.top2 h1:hover{
    color: var(--sec-color);
}
h2{
    padding-top: 15px;
}
h2 span{
    color: var(--pri-color);
    opacity: 0.6;
    /* text-shadow: 0px 0px 5px var(--bg-color); */
    
}
h3{
    font-size: 13px;
}
.formSection{
    background-color: var(--sec-color);
}
.formSection1,.formSection2 {
    width: 300px;
    margin:5%;
    font-size: 13px;
}
.skills-container {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    margin-bottom: 10px;
}

.skill {
    display: flex;
    align-items: center;
    background-color: var(--pri-color);
    color: #fff;
    padding: 8px 15px;
    border-radius: 20px;
    font-size: 12px;
}

.closeButton {
    margin-left: 8px;
    cursor: pointer;
    color: var(--bg-color);
}

label {
    /* display: block; */
    margin-bottom: 8px;
    padding-top: 10px;
}

input, select {
    width: 100%;
    padding: 5px 15px;
    margin: 5px 0 15px 0;
    box-sizing: border-box;
    border-radius: 30px;
    border: var(--pri-color) 0px solid;
    box-shadow: var(--bg-color) 0px 0px 10px;
}
#name,#address1,#address2,#address3,#softSkillsInput,#hardSkillsInput{
    text-transform: capitalize;
}
#photoUpload button{
    background-color: #3498db;
    color: #fff;
    padding: 8px 12px;
    cursor: pointer;
}


/* Style for password toggle icon */
.passwordGroup{
    display: flex;
    position: relative; 
    /* //base bg */
}
.eye-icon {
    position: absolute; 
    /* //come over bg */
    right: 10px;
  cursor: pointer; 
  /* z-index: 2; */
}

.eye-icon i {
    padding: 15px 0px 0 10px;
  color: var(--pri-color);
}

/* Add hover effect */
.eye-icon i:hover {
    color: var(--pri-color);
    transition: all 1s; /* Change icon color on hover */
  }



.submit{
    display: grid;
}
.form-bottom h6{
    text-align: center;
}
.form-bottom button {
    background-color:var(--bg-color);
    border-radius: 20px;
    border: 1px solid var(--bg-color);
    box-shadow: var(--bg-color) 0px 0px 10px;
    /* display: block; */
    cursor: pointer;
    transition: background-color 0.3s ease;
    color: var(--sec-color);
    font-weight: 500;
    align-items: center;
    padding: 10px 15px;
    margin: 0px 0 30px 0;
    width: 200px;
}
.form-bottom button:hover {
    background-color: var(--pri-color);
    color: var(--bg-color);
}