<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CleverHiret</title>
    <link rel="stylesheet" href="/std-test-details-start/std-test-details-start.css">
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    <script src="https://kit.fontawesome.com/48f7b1ac70.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    <div class="cleverhire">
        <p><a href="/index.html">CleverHire</a></p>
    </div>

<!-- NAVIGATION -->
    <nav>
        <div class="list">
            <a href="">Home</a>
            <a href="">About US</a>
            <a href="">Listed Jobs</a>
            <a href="">Contact</a>
        </div>
        <div class="soc-icon">
            <a href="/index.html"><i class="fa-brands fa-linkedin"></i></a>
            <a href=""><i class="fa-brands fa-facebook"></i></a>
            <a href=""><i class="fa-brands fa-x-twitter"></i></a>
            <a href=""><i class="fa-brands fa-instagram"></i></a>
        </div>
    </nav>
    <div class="main-body">
        <!-- LEFT SECTION OF PAGE  -->
        <section class="lmenu">
            <div class="dp">
                <i class="fa-solid fa-user-graduate"></i>
            </div>
            <div class="lmenu-items-con">
                <!-- <div class="lmenu-items-icon">
                    <i class="fa-solid fa-chart-line"></i>
                     <i class="fa-solid fa-chart-line"></i>
                    <i class="fa-solid fa-book-open-reader"></i>
                    <i class="fa-solid fa-people-group"></i>

                </div> -->
                <div class="lmenu-items">
                    <li><a class="d" href="">Dashboard</a></li>
                    <li><a class="mt" href="">Mock Test</a></li>
                    <li><a class="mi" href="">Mock Interview</a></li>
                    <li><a class="cv" href="">CV Generation</a></li>
                    <li><a class="l" href="">Logout</a></li>
                </div>
            </div>
        </section>
        <!-- CENTRE SECTION OF PAGE -->
        <section class="right-box">
            <div class="examLayout">
                <div class="currentQn">

                    <div class="topLayer">
                        <div class="currentQnNumber">
                            <h1>10</h1>
                        </div>
                        <div class="timeRemaining">10:00</div>
                    </div>
                    <div class="qnLayer">
                        <h4>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid, eligendi!</h4>
                    </div>
                    <div class="optionLayer">
                        <ul class="li">A</ul>
                        <ul class="li">B</ul>
                        <ul class="li">C</ul>
                        <ul class="li">D</ul>
                    </div>
                </div>

                <div class="qnCount">
                    <div class="1">1</div>
                    <div class="1">1</div>
                    <div class="1">1</div>
                    <div class="1">1</div>
                    <div class="1">1</div>
                    <div class="1">1</div>
                    <div class="1">1</div>
                    <div class="1">1</div>
                    <div class="1">1</div>
                    <div class="1">1</div>
                    <div class="1">1</div>
                </div>
            </div>
        </section>

    </div>
</body>
</html>